In [16]:
import os
import sys
from dotenv import load_dotenv

load_dotenv()

BASE_PATH = os.getenv('ROOT_PATH')
os.chdir(BASE_PATH)
if BASE_PATH not in sys.path:
    sys.path.insert(0, BASE_PATH)

print("Base path set to:", BASE_PATH)

Base path set to: /Users/thomasstycke/Desktop/DTU/Computational Tools for Data Science/CompToolsGrp70

In [17]:
import pandas as pd
import numpy as np

from src.data.preprocess import load_data, preprocess_data, save_preprocessed

In [12]:
bronze_path = 'data/bronze'
moveis, ratings = load_data(bronze_path)

In [13]:
df = preprocess_data(moveis, ratings)

In [14]:
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance